{% extends 'blog/base.html' %}
{% block content %}
<div class="mx-5 mb-5 mt-5 d-flex justify-content-center ">
    <div class="card bg-light py-1 mx-3 mb-5 p-4" style="width: fit-content;">
    <h1><code>About me</code></h1>
    <div class="detailbuttons d-flex justify-content-center align-items-center">
      <div>
        <a href="https://www.linkedin.com/in/bariş-şahin/" target="_blank" title="Navigate to My Linkedin" class="mr-3" style="width: 120px;" role="button" aria-pressed="true">
          <i class="fab fa-linkedin"></i> Linkedin</a>
        <a href="https://github.com/brs14shn" target="_blank" title="Navigate to My Github Page" class="" style="width: 120px;" role="button" aria-pressed="true"><i class="fab fa-github-alt"></i> Github</a>
      </div>
    </div>
</div>
</div>
{% endblock content %}