{% extends 'blog/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container shadow">
    <div
    class="card mx-auto mt-4 border border-3  p-3 shadow"
    style="width: 400px"
    >
    <h2 class="text-center fs-2" style='margin:5px'>Update Blog</h2>
    <div class="card-body m-4">
      {% comment %} <img src="{{user.profile_pic}}" alt="{{user}}_avatar"> {% endcomment %}
      <form action="" method="POST">
        {% csrf_token %}                   
        {% comment %} {{form.as_p}}	 {% endcomment %}
        {{ form | crispy }}					   
        <input type="submit" value="Update">
      </form>
    </div>
  </div>
</div>


{% endblock content %}