{% extends 'blog/base.html' %}
{% block content %}
{% load static %}
<div class="container mt-4  ">
  <div class="row my-auto " style="column-gap:.5rem;row-gap:1rem">
    {% for post in posts %}
    <div  class="col ">
      <div class="card  p-1 shadow" style="width: 320px;box-shadow:4px 4px 4px black">
        <div class="card-body text-center" style="width: 320px;">
        
        <img
          src="{{post.post_image}}" 
          
          alt="card_image"
          class="card__image rounded"
          width="50%"
          
        />     
        <hr>
          
        <div class="card-body mb-auto">
        <span class="card-title">{{ post.category | capfirst }}</span>
        <br><br>
        <h4 class="card-title">{{post.title}}</h4>
        <p class="card-text">{{ post.content|truncatechars:60}}</p>
        <div>
          <span><i class="bi bi-heart" style="margin: 2px"></i></span> <small>{{post.blog_like}}</small>
          <span><i class="bi bi-chat-left-text" style="margin: 2px"></i></i></span> <small>{{post.blog_comment}}</small>
          <span><i class="bi bi-eye" style="margin: 2px"></i></span> <small>{{post.blog_views}}</small>
        </div>
      </div>
      <div class="card-body mb-auto">
          <div class="user__info">
           <span class="card-text">{{ user}} | </span> 
            {% comment %} <small>{{ post.publish_date | date:'Y-m-d'}} - {{currendate}} ago</small> {% endcomment %}
            <small>{{ post.publish_date | timesince }} ago</small>
          </div>
        </div>
        <a href="{% url 'detail' post.id %}" class="readmore"><button type="button" class="btn btn-primary mt-3">Details</button></a>
      </div>
    </div>
    </div>
    {% endfor %}
  </div>
  </div> 
  {% endblock content %}
  