{% load static %}

<nav class="navbar navbar-toggleable-md navbar-inverse " style="background-color:#CEDDE5;box-shadow:2px 2px 10px black">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="">
    <img class="me-4" style="width:60px;height:60px;border-radius:50%" src="{% static 'blog/images/foto.png' %}"
      alt="CLARUSWAY_LOGO" />

    <em class="text-dark"> My Blog</em></a>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto" >
       {% comment %} !RİGHT {% endcomment %}
      <li class="nav-item active"  >
      <a class="nav-link font-weight-bold text-dark " href="{% url 'home' %}">Home</a> 
      </li>

     <li class="nav-item active">
        <a class="nav-link font-weight-bold text-dark" href="{% url 'about' %}">About</a>
      </li> 
    </ul>
     {% comment %}  !LEFT {% endcomment %}
    <ul class="navbar-nav ml-auto d-flex">
      {% if request.user.is_authenticated %}
      {% if request.user.is_superuser %}

      <li class="nav-item active">
        <a class="nav-link font-weight-bold text-dark" href="/admin">Admin</a>
    </li>
    <li class="nav-item active">
        
        <a class="nav-link font-weight-bold text-dark" href="{% url 'logout' %}">Log Out</a>
    </li>
    {% else %}   
       
      <li class="nav-item active">
        <a class="nav-link font-weight-bold text-dark" href="{% url 'logout'%}">Logout</a>
      </li>

      <li class="nav-item active">
       
       <a class="nav-link font-weight-bold text-dark" href="{% url 'profile'%}">Profile</a> 
      </li>
      <li class="nav-item active">
       
       <a class="nav-link font-weight-bold text-dark" href="{% url 'add'%}">New Post</a> 
      </li>

      <li class="ml-5 d-flex">
        <i class="bi bi-box-arrow-in-right fa-2x text-danger "></i>
        <a class="nav-link ml-2 font-weight-bold text-danger font-italic" href="">{{ request.user | capfirst }}</a>
    </li>

      {% endif %}
      {% else %}
      <li class="nav-item active">
        <a class="nav-link font-weight-bold text-dark" href="{% url 'login' %}">Log In</a>
      </li>
      
      <li class="nav-item active">
        <a class="nav-link font-weight-bold text-dark" href="{% url 'register' %}">Register</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
{% if messages %} 
        {% for message in messages %} 
            {% if message.tags == "warning" %}
                <div id="warning" class="alert message">{{ message }}</div>
            {% else %}
                <div id="success" class="alert alert-danger message">{{ message }}</div>
            {% endif %} 
        {% endfor %} 
    {% endif %}